
.ytlogo{
  margin-left: 1rem;
}
.avatarlogo{
  background-color: transparent;
}
@media only screen and (max-width: 590px) {
  .form-head {
    width: 18rem;
    flex: 0.6;
  }
  .form-button {
    right: 0;
  }
}
@media only screen and (max-width: 470px) {
  .ytlogo {
    display: none;
  }
  #appsicon {
    display: none;
  }
  .form-head {
    width: 10rem;
    flex: 0.6;
  }
}
